<div class="col-12 mt-3">
  <h1 class="text-center">Ads Listing</h1>
  <div class="d-flex justify-content-between">
    <span>
      <%= @ads.count %> result(s)
    </span>
    <%= link_to "+ New ad listing", new_ad_path, :class => "btn btn-dark" %>
  </div>

  <table class="table table-hover table-striped table-sm mt-3">
    <thead>
      <tr>
        <th>Property Name</th>
        <th>Price</th>
        <th>Ad Listing Type</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @ads.each do |ad| %>
        <tr>
          <td><%= ad.property_name %></td>
          <td><%= ad.price %></td>
          <td><%= ad.ad_type %></td>
          <td><%= link_to "Show", ad %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

</div>
