
<div class="col-md-6 m-auto">
  <h1 class="text-center">New Ad Listing</h1>
  <hr>
  <i>(*) Indicates mandatory field</i>

  <div class="mt-3">

    <%= form_for @ad, remote: true do |f|%>
      * <%= f.label :property_name%>
      <%= f.text_field :property_name, :class => 'form-control', required: true%>
      <p class="text-danger d-none" id="property_name-error"></p>

      * <%= f.label :price, :class => "mt-3"%>
      <%= f.number_field :price, :class => 'form-control'%>
      <p class="text-danger d-none" id="price-error"></p>

      * <%= f.label :ad_listing_type, :class => "mt-3"%>
      <%= f.select :ad_type, ["Rent", "Sale"], {}, {:class => "form-control w-100"} %>
      <p class="text-danger d-none" id="ad_type-error"></p>

      * <%= f.label :images, :class => "mt-3"%>
      <br>
      <%= f.file_field :images, multiple: true %>
      <p class="text-danger d-none" id="images-error"></p>

      <%= f.submit 'Create Listing', :class => 'form-control btn-success mt-3' %>
    <%end%>
  </div>

  <div class="my-3">
    <%= link_to "Back", :back, :class => "btn btn-light form-control" %>
  </div>

</div>
